.contentList{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
}

.containerList{
    box-sizing: border-box;
    margin: 10px;
    width: 45%;
}

.listBox{
    box-sizing: border-box;
    background-color: #e9e4e8;
    padding: 2px 0;
    width: 100%;
}

.avgList{
    box-sizing: border-box;

    width: 100%;
}
.avgRow{
    box-sizing: border-box;
    width: 95%;
    background-color: white;
    border-radius: 5px;
    margin: 5px auto;
    padding: 10px;
    font-weight: 300;
    display: flex;
}

.avgRow:hover{
    border: 2px solid #8a1f6e;
    cursor: pointer;
}

.avgName, .avgAverage{
    display: block;
}
.avgName{
    width: 80%;
}

.listTitle{
    margin: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
}