.Card {
    border: 3px solid;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 6px 0px #e6e6e6;
}

.Card__title {
    padding: 15px;
    display: flex;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid #f1efef;
}

.Card__content {
    flex-grow: 1;
    background-color: #fff;
    color: #000;
    padding: 10px;
}

.Card__title_text{
    width: 90%;
    margin: 0;
    padding: 0;
    color: #603991;
}




.Card__button{
    background-color: #8a1f6e;
    display: block;
    border: none;
    border-radius: 10px;
    width: 35px;
    height: 35px;
    color: white;
    transition: all 0.3s ease-in-out;
    text-align: center;
    cursor: pointer;

}

.Card__button:hover{
    box-shadow: 0 0 8px 1px #c00e4e;
}